nixpacks:
  phases:
    setup:
      nixPkgs:
        - php83
        - php83Extensions.pdo
        - php83Extensions.pdo_mysql
        - php83Extensions.pdo_sqlite
        - php83Extensions.sqlite3
        - php83Extensions.mbstring
        - php83Extensions.gd
        - php83Extensions.bcmath
        - nodejs
    install:
      cmds:
        - composer install --no-dev --optimize-autoloader
        - npm install
    build:
      cmds:
        - npm run build
