nixpacks:
  phases:
    setup:
      nixPkgs:
        - php83
        - php83Extensions.pdo
        - php83Extensions.pdo_mysql
        - php83Extensions.pdo_sqlite
        - php83Extensions.sqlite3
        - php83Extensions.mbstring
        - php83Extensions.gd
        - php83Extensions.bcmath
        - nodejs
    install:
      cmds:
        - composer install --no-dev --optimize-autoloader
        - npm install
    build:
      cmds:
        - npm run build
        - touch database/database.sqlite
        - chmod 777 database/database.sqlite
        - chmod 777 database
        - php artisan config:cache
        - php artisan route:cache
        - php artisan view:cache
    start:
      cmd: php artisan serve --host=0.0.0.0 --port=$PORT
